<!-- The Content Heading, descrides the content of the view -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% }else{ res.redirect('/') } %>

        <!-- A Message Block, used to display messages in a view -->
        <%- messages() %>

            <!-- Login form Display, display the content -->
            <p>You're Logged In!</p>
            <a title="Click to update your account" href="/account/updateAccount">Update Account</a>