<!-- The Content Heading, descrides the content of the view -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% }else{ res.redirect('/') } %>

        <!-- A Message Block, used to display messages in a view -->
        <%- messages() %>



            <!-- Login form Display, display the content -->
            <form id="loginForm" action="/account/login" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="account_email" required>

                <label for="password">Password:</label>
                <div id="requirements">
                    <p>*Password must have at least 12 characters, at least 1 uppercase character, 1 number and one special character.*
                    </p>
                </div>
                <input type="password" id="password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>

                <button type="submit">Login</button>
            </form>

            <span id="sign_up">No account?<a href="/account/register">Sign Up</a></span>